.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

style
    *{
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        background-color: slategray;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: maroon;
    }

    header h2 {
        color: blanchedalmond;
        background-color: red;
        padding: 10px 10px 10px 30px;
    }

    nav a {
        color: blanchedalmond;
        margin: 0 20px;
    }
    .image1 {
  background-image: url('https://github.com/iis4u2nv/Portfolio/blob/main/images/yellowbike.jpg?raw=true');
  padding: 5px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  }

    .banner {
        height: 150px;
        border: 2px solid blanchedalmond;
        background-image: url("https://wallpapers.com/images/featured/sjryfre8k8f6i3ge.jpg");
        background-size: cover;
    }
    .box {
      height: 150px;
      border: 2px solid blanchedalmond;
      background-origin: padding-box;
      background-image: image();  
    }
    .container {
        height: 300px;
        border: 2px solid blanchedalmond;
        background-color: aqua;
    }
     